:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px);
  align-items: center;
  background-color: #f3f4f6;

  .form-block {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
