:host {
  .card {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-weight: bold;
    }

    .icon-block {
      display: flex;
      justify-content: center;

      img {
        width: 200px;
      }
    }
  }
}
