<div class="card" *ngIf="locationWeather" appTooltip [tooltipContent]="location.name">
  <div>
    <span class="title">Name : </span>
    {{ location.name | uppercase }}
  </div>
  <div>
    <span class="title">Temperature : </span>
    {{ locationWeather.temperature_2m }} °C
  </div>
  <div>
    <span class="title">Cloud Cover : </span>
    {{ locationWeather.cloud_cover }}%
  </div>
  <div>
    <span class="title">Relative Humidity : </span>
    {{ locationWeather.relative_humidity_2m }}%
  </div>
  <div>
    <span class="title">Visibility : </span>
    {{ locationWeather.visibility | metersToKm }} KM
  </div>
  <div>
    <span class="title">Wind Speed : </span>
    {{ locationWeather.wind_speed_10m }} km/h
  </div>
  <div class="icon-block">
    <img alt="" [src]="weatherIconUrl$ | async">
  </div>
</div>
